DB_USER=postgres
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gis
JAVA_HOME="C:/Program Files/Microsoft/jdk-17.0.18.8-hotspot"
HADOOP_HOME="C:/hadoop"
PYSPARK_PYTHON="C:/Users/padro/Documents/projects/spatial_knn/.venv/Scripts/python.exe"