#targets
scala/project/target/*
rust/target/*
scala/target/*
kotlin/target/*
scala/project/*
kotlin/lib/*
go/spatial_knn_go.exe
#configs
*.idea/*
.metals/*
.vscode/*
scala/.bsp/sbt.json
#results
*_tree.csv
*_all_vs_all.csv
*result.csv

#env
.env

#data
data/raw/*



