[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
sqlalchemy = "*"
ipykernel = "*"
psycopg2-binary = "*"
apache-sedona = {extras = ["spark"], version = "*"}
scikit-learn = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
